<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- <add key="new_jornadaid " value="D9A144FA-CC42-E611-80C1-000C299AB360"/>
    JORNADA VESPERTINO / AMBIENTE DESARROLLO-->
    <!-- <add key="new_jornadaid" value="8878451A-4D44-E611-80C1-000C299AB360"/> -->
    <!-- JORNADA VESPERTINO / AMBIENTE PRODUCTIVO-->
    <!-- 
    <add key="TipoAutenticacion" value="Credential" />
    <add key="CertificateValidation" value="false" />
    <add key="TipoLogueo" value="http" />
    <add key="TipoCRM" value="" />
   
    <add key="CRMServidor" value="ucentraldesa.ucentral.cl:444" />
    <add key="CredencialUsuario" value="ucentral.cl\crm_admin" />
    <add key="CredencialContrasena" value="cmetrix.2016" />
    <add key="CredencialDominio" value="" />
    <add key="CRMOrganizationName" value="" />
    <add key="adminId" value="ucentral.cl\crm_admin" />
    <add key="UsaSSL" value="No" />
    <add key="TimeOut" value="10" />
    
    -->
    
  </appSettings>
</configuration>